#PORT=

# DB
#POSTGRES_HOST=
#POSTGRES_PORT=
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_NAME=
#POSTGRES_SSL=false

# JWT
#JWT_ACCESS_SECRET_KEY=
#JWT_REFRESH_SECRET_KEY=

# CORS
#CLIENT_ORIGIN=

# Cookies
#COOKIE_SECURE=false
